@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-dest-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-mod-cyan: hsl(168, 34%, 41%);
  --very-dark-dest-blue: hsl(212, 27%, 19%);
  --very-dark-gray-blue: hsl(213, 9%, 39%);
  --dark-gray-blue: hsl(232, 10%, 55%);
  --gray-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --font: "Barlow", sans-serif;
  --font1: "Fraunces", serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font1);
  font-weight: 900;
}

p {
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.header {
  background: url("./images/desktop/image-header.jpg") no-repeat center/cover;
  height: 100vh;
  padding: 1rem;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  display: flex;
  padding: 1rem 0;
}

.header nav ul li a {
  padding: 1rem 1.3rem;
  color: var(--white);
  font-family: var(--font);
  margin: 0 0.2rem;
  border-radius: 2rem;
  font-weight: 600;
}

.header nav ul li:last-child a {
  background: var(--white);
  color: var(--very-dark-dest-blue);
  text-transform: uppercase;
}

.header nav ul li:last-child:hover a,
.header nav ul li:last-child.active a {
  background: hsl(0, 0%, 100%, 30%);
  color: var(--white);
  cursor: pointer;
}

.header h1 {
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  font-size: 3rem;
  margin: 8rem 0;
  letter-spacing: 5px;
}

.header .down-arrow {
  text-align: center;
}

.menu {
  display: none;
}

/* services */

.services .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 70vh;
}

.bg {
  height: 100%;
  width: 100%;
}

.services .row .egg {
  background: url("./images/desktop/image-transform.jpg") no-repeat center/cover;
}

.services .row .glass {
  background: url("./images/desktop/image-stand-out.jpg") no-repeat center/cover;
}

.services .row .cherry {
  background: url("./images/desktop/image-graphic-design.jpg") no-repeat
    center/cover;
}

.services .row .orange {
  background: url("./images/desktop/image-photography.jpg") no-repeat
    center/cover;
}

.services .row .col {
  margin: auto;
}

.services .row .col .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  margin: auto;
  line-height: 1.5;
  font-weight: 700;
}

.services .row .col .content h2 {
  font-size: 2.4rem;
  margin: 1rem 0;
}

.services .row .col .content p {
  font-family: var(--font);
  color: var(--dark-gray-blue);
  margin: 1rem 0;
}

.services .row .col .content a {
  font-family: var(--font1);
  color: var(--very-dark-dest-blue);
  text-transform: uppercase;
}

.services .row .col .content a span {
  background: linear-gradient(180deg, transparent 60%, hsl(51, 100%, 89%) 60%);
}

.services .row .col .content a span:hover {
  background: linear-gradient(180deg, transparent 60%, var(--yellow) 60%);
}

.services .row .col .content a.or span {
  background: linear-gradient(180deg, transparent 60%, hsl(7, 99%, 90%) 60%);
}

.services .row .col .content a.or span:hover {
  background: linear-gradient(180deg, transparent 60%, var(--soft-red) 60%);
}

.image-content {
  position: relative;
}

.image-content .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -0%);
  width: 400px;
  text-align: center;
  margin: auto;
  color: hsl(168, 34%, 21%);
  padding: 4rem 0;
}

.image-content:nth-child(2) .content {
  color: var(--dark-blue);
}

.image-content .content h2 {
  padding: 1rem 0;
  text-transform: capitalize;
}

.image-content .content p {
  line-height: 1.5;
  font-family: var(--font);
  font-weight: 600;
}

/* testimonial */

.testimonial-container {
  text-align: center;
  padding: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial-container h3 {
  padding-bottom: 3rem;
  color: var(--gray-blue);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: var(--font1);
}

.testimonial-container .body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.testimonial-container .body .testimonial {
  margin: 0 1rem;
  width: 350px;
}

.testimonial-container .body .testimonial img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-container .body .testimonial p {
  margin: 3rem 0;
  color: var(--dark-gray-blue);
  font-family: var(--font);
  font-weight: 600;
  line-height: 1.5;
}

.testimonial-container .body .testimonial h4 {
  padding: 1rem 0;
}

.testimonial-container .body .testimonial h5 {
  font-family: var(--font);
  color: var(--gray-blue);
}

/* projects  */

.projects .row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 70vh;
}

.projects .row .milk {
  background: url("./images/desktop/image-gallery-milkbottles.jpg") no-repeat
    center/cover;
}

.projects .row .orange {
  background: url("./images/desktop/image-gallery-orange.jpg") no-repeat
    center/cover;
}

.projects .row .cone {
  background: url("./images/desktop/image-gallery-cone.jpg") no-repeat
    center/cover;
}

.projects .row .sugarcube {
  background: url("./images/desktop/image-gallery-sugarcubes.jpg") no-repeat
    center/cover;
}

footer {
  background: hsl(168, 44%, 69%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem 0;
}

footer ul {
  display: flex;
  padding: 1rem 0;
}

footer ul li a {
  font-family: var(--font);
  padding: 1rem;
  font-weight: 600;
  color: #2c7566;
}

footer ul li a:hover {
  color: var(--white);
  cursor: pointer;
}

.social-icons {
  margin-top: 2rem;
}

.social-icons a {
  margin: 0 0.5rem;
  font-size: 0.9rem;
}

.social-icons svg {
  fill: #2c7566;
}

.social-icons svg:hover {
  fill: var(--white);
  cursor: pointer;
}

@media only screen and (max-width: 1060px) {
  .header {
    background: url("./images/mobile/image-header.jpg") no-repeat center/cover;
  }
  .menu {
    display: block;
  }
  .header nav ul {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -0%);
    display: flex;
    flex-direction: column;
    background: var(--white);
    width: 90%;
    padding: 3rem 0 2rem 0;
    clip-path: polygon(0 9%, 91% 10%, 100% 0, 100% 100%, 0 100%);
    display: none;
  }
  .header nav ul.active {
    display: flex;
    animation: Show 0.5s linear;
  }
  .header nav ul li a {
    color: var(--gray-blue);
    text-align: center;
    margin: 0.5rem 0;
  }
  .header nav ul li:last-child a {
    background: var(--yellow);
    color: var(--very-dark-dest-blue);
    width: 130px;
    margin: auto;
  }
  .services .row {
    grid-template-columns: 1fr;
    grid-auto-rows: 50vh;
  }
  .image-content .content,
  .services .row .col .content {
    max-width: 330px;
    text-align: center;
  }
  .testimonial-container {
    padding: 3rem 1rem;
  }
  .testimonial-container .body .testimonial {
    margin: 2rem;
  }
  .testimonial-container .body .testimonial p {
    margin: 1rem 0;
  }
  .projects .row {
    grid-template-columns: repeat(2, 1fr);
    height: 50vh;
  }
  .services .row .egg {
    background: url("./images/mobile/image-transform.jpg") no-repeat
      center/cover;
    order: -1;
  }
  .services .row .glass {
    background: url("./images/mobile/image-stand-out.jpg") no-repeat
      center/cover;
  }
  .services .row .cherry {
    background: url("./images/mobile/image-graphic-design.jpg") no-repeat
      center/cover;
  }
  .services .row .orange {
    background: url("./images/mobile/image-photography.jpg") no-repeat
      center/cover;
  }
}

@keyframes Show {
  0% {
    transform: translateX(-1);
  }
  100% {
    transform: translateX(1);
  }
}

@media only screen and (max-width: 700px) {
  .testimonial-container .body {
    grid-template-columns: 1fr;
  }
  .services .row {
    grid-auto-rows: 70vh 70vh 70vh 70vh 100vh 100vh;
  }
}
